
<section id="chat" class="container">
    <!-- <ul class="col-sm-12">
        <li>
            <div class="col">
                <p>{{user.name}}</p>
            </div>
            <p class="msg">{{msg.value}}</p>
        </li>
    </ul> -->
    <div style="margin-top: 200px">
      <div ng-repeat="messages in msg">
          <p ng-hide="true">{{ messages.id }}</p>
          <p>Dodal: {{ messages.user }}</p>
          <p>Wiadomosc: {{ messages.message }}<p>
          <p>Date: {{ messages.timestamp }}</p>
      </div>
      <input ng-model="message" style="color: black;">
      <input type="button" ng-click="sendMessage(message)">
    </div>
</section>
