
<section id="chat">
	<div class="top container">
		<div class="content container">
			<textarea ng-model="message" enter-send="sendMessage(message)" ></textarea>
			<button ng-show="false" type="button" ng-click="sendMessage(message)">
		</div>
	</div>
	<section class="container">
		<div class="row ngAnimate" ng-repeat="messages in msg | reverse">
			<div class="col-xs-12">
				<div class="left col-xs-2">
					<img src="img/avatar1.png" />
					<p class="nick">{{ messages[1] }}</p>
				</div>
				<div class="right  col-xs-10">
					<div class="content">
						<p class="message">{{ messages[2] }}</p>
					</div>
				</div>
			</div>
		</div> 
	<div ng-include="'views/terminal.html'" ng-show="user.group == 'admin'"></div>	
</section>
