
<section id="login" class="container">

    <form novalidate>
        <div class="row">
            <label class="col-sm-5">Login: </label>
            <div class="col-sm-7 input"><input ng-model="auth.login" autofocus></div>
        </div>
        <div class="row">
            <label class="col-sm-5">Password: </label>
            <div class="col-sm-7 input"><input type="password" ng-model="auth.password"></div>
            <div id="msg">{{ msg }}</div>
        </div>
        <div id="confirm">
            <button ng-show="false" class="button" ng-click="login()"><p>Login</p></button>
        </div>
    </form>

    <div id="siginMsg" ng-show="msg == 'Error: No user in db'">
        <h2>Podanego uzytkownika nie ma w bazie danych, czy utworzyc nowego?</h2>
        <div class="button btn btn-primary" ng-click="confirm()" ><p>Zatwierdz</p></div>
        <div class="button btn btn-danger" ng-click="cancel()" ><p>Anuluj</p></div>
    </div>

</section>
