

<section id="prelogin" prelogin-pass="" validate="">

    <img src="img/safe_image.png">
    <form class="form-inline">
        <div class="form-group">
            <label for="password">password:</label>
            <input id="password" ng-model="pass">
        </div>
    </form>
    <div id="confirm">
        <div class="button" ng-click="enter()"><p>Enter</p></div>
    </div>


    <div id="player">
        <audio id="main">
            <source src="audio/op02.mp3" type="audio/mpeg">
        </audio>
        <audio id="wrong">
            <source src="audio/wrong.webm" type="audio/webm">
        </audio>
    </div>

</section>